<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SharePics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    
    
    <div class="index-container">
        <h1 class="index-h1">Welcome to SharePics</h1>
        <img class="index-img" src="/assets/m2.jpg" alt="picture">
    
    <div class="log-reg one">
        <h4>Register</h4>
        <form action="/users/register" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="text" name="user[username]" placeholder="Username">
            <input type="text" name="user[email]" placeholder="Email">
            <input type="password" name="user[password]" placeholder="Password">
            <input type="password" name="user[password_confirmation]" placeholder="Password Confirmation">
            <input type="submit" value="Register">
        </form>
    </div>

    <div class="log-reg two">
        <h4>Sign In</h4>
        <form action="/users/login" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Sign In">
        </form>
    </div>
    <div class="invalid">
        <% if flash[:errors]%>
        <% flash[:errors].each do |err|%>
        <p><%= err%></p>
        <%end%>
        <%end%>
    </div>

    </div>
</body>
</html>