// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    margin:0;
    padding:0;
    background-color: #262626;
    color: #fff;
    overflow-x: hidden;
}

#sidebar{
    position: fixed;
    width: 20%;
    cursor: pointer;
    left: -20%;
    background-color: black;
    transition: .5s;
}
.greet{
    text-align: right;
    margin-right: 5%;
    
}
#sidebar li{
    position: relative;
    left: -10%;
    list-style: none;
    font-family: sans-serif;
}

#sidebar li a {
    display: block;
    padding: 10px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

#sidebar li a:hover{
    background: #fc2827;
    color: #262626;
}
#toggle-btn{
        position: absolute;
        left: 105%;
        top: 15px;
}

#toggle-btn span {
    display: block;
    background: white;
    width: 30px;
    height: 3px;
    margin-bottom: 3.5px;
    transition: .5s;
}

#toggle-btn.active span{
    
    position: absolute;
}
#toggle-btn.active span:nth-child(1){
    transform: rotate(45deg);
    background: #fc2827;
}
#toggle-btn.active span:nth-child(2){
    display: none;
}
#toggle-btn.active span:nth-child(3){
    transform: rotate(-45deg);
    background: #fc2827;
}



#sidebar.active{
    left: 0%;
}

#menu-icon{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 44px;
    padding: 4px 8px;
    background: #262626;
    box-sizing: border-box;
    cursor: pointer;
}

#menu-icon span{
    width: 100%;
    height: 4px;
    display: block;
    background: #fff;
    margin: 6px 0;
    transition: .5s;
}

.sidebar{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background: #262626;
    transition: .5s;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.sidebar.active {
    left: 0;
}
.sidebar .menu{
    margin: 0;
    padding: 40px 0;
}

.sidebar .menu li
{
    list-style: none;
    font-family: sans-serif;
}

.sidebar .menu li a{
    display: block !important;
    padding: 10px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}


.sidebar .menu li a:hover{
    background: #fc2827;
    color: #262626;
}

#menu-icon.active span {
   position: absolute;
   width: calc(100% - 16px);
   top: calc(50% - 8px);
}

#menu-icon.active span:nth-child(1){
    transform: rotate(45deg);
}

#menu-icon.active span:nth-child(3){
    transform: rotate(-45deg);
}

#menu-icon.active span:nth-child(2){
    display: none;
}
.top-posts{
   position: relative;
   left: 30%;
}
.single-post{
    margin-bottom: 5%;
    height: auto;
    border: 2px solid white;
    width: 30%;
    padding: 3%;
}

.single-post img{
    
    display: inline-block;
    width: 100%;
}

.single-post h3{
    display: block;
}

.single-post a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.container{
    margin-left: 5%;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    position: relative;
}
.container:before{
    content: '';
    position: absolute;
    top: 0;
    left: 115%;
    width: 50%;
    height: 100%;
    background: rgba(1, 133, 133, 0.9);
    z-index: 1;
    transform: skewX(45deg);
    transition: 1s;
}
.container:hover:before{
    left: -100%;
}

//index page =================

.index-container{
    width: 100%;
    height: 100%;
    position: relative;
    //background: iamge-url("m2.jpg");
}
.index-img{
    object-fit: scale-down;
}

.log-reg.one{
    
    top: 25%;
    left: 25%;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    
}
.log-reg.two{
    
    top: 25%;
    left: 50%;
    position: absolute;
    display: inline-block;
    vertical-align: top;
}
.index-h1{
    position: absolute;
    top: 10%;
    
}

.log-reg.one h4,
.log-reg.two h4{
    text-align: center;
    color: white;
    font-size: 25px;
    

}
.log-reg.one,
.log-reg.two{
    background:#262626;
    opacity: 0.9;
    border-radius: 5px;
    padding: 10px;
    
}

.log-reg.one input[type="text"], input[type="password"],
.log-reg.two input[type="text"], input[type="password"]
{
    height: 25px;
    font-size: 20px;
    display: block;
    border: none;
    border-bottom: 2px solid green;
    color: white;
    outline: none;
    margin-bottom: 2%;
    background: transparent;

}
.log-reg.one input[type="submit"],
.log-reg.two input[type="submit"]
{
    border-radius: 10px;
    background: red;
    color: white;
    margin-left: 35%;
    border: none;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
    outline: none;
}

.log-reg.one input[type="submit"]:hover,
.log-reg.two input[type="submit"]:hover{
    background: yellow;
    color: black;
}


.invalid{
    position: absolute;
    top: 25%;
    left: 5%;
    border-radius: 5px;
    opacity: .8;
    background: gray;
    padding: 5px;
    color: yellow;
    font-size: 20px;
}

.home{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    float: left;
    margin-top: -20px;
}

.comment{
    width: 40%;
    margin: auto;
    margin-top: 5vh;
}

.span{
    font-size: 20px;
}

.comment input[type="text"]{
    border-radius: 5px;
    border:none;
    outline:none;
    height: 20px;
    padding-left: 5px;
}
.comment input[type="submit"]{
    border-radius: 5px;
    background: #1DA1F2;
    border: none;
    color: white;
    height: 25px;
    margin-left: 10px;
}

.cmt_img{
    width: 90%;
}
.cmt_form{
    display: inline-block;
}
.cmt_err{
    display: inline-block;
}

.cmt_user{
    display: inline-block;
}
.cmt_dlt{
    float: right;
    margin-right: 15%;
    margin-top: 2%;
   
}
.cmt_dlt a{
    width: fit-content;
    padding: 4px;
    border-radius: 5px;
    background: #fc2827;
    margin-right:10px;
    text-decoration: none;
    color: white;
    outline: none;
    display: inline-block;
   
}
.cmt_dlt form{
    display: inline-block;
}
.cmt_dlt form button {
    width: fit-content;
    padding: 4px;
    border-radius: 5px;
    background: green;
    margin-right:10px;
    text-decoration: none;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    
    
}
.newpost input[type="file"]::-webkit-file-upload-button
{
    color: white;
    border-radius: 5px;
    background: red;
    border: none;
    cursor: pointer;
    font-size: 15px;
    outline: none;

}

.edit{
    margin: 5% auto;
    width: 50%;
}
.edit img{
    width: 70%;
}

.paginate {
    margin: 2% 15%; 
    width: fit-content;
}

.paginate a{
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman';
}

.digg_pagination {
    background: white;
    cursor: default;
    /* self-clearing method: */ }

.digg_pagination a, .digg_pagination span, .digg_pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    .digg_pagination .disabled {
      color: #999999;
      border: 1px solid #dddddd; }
    .digg_pagination .current {
      font-style: normal;
      font-weight: bold;
      background: #2e6ab1;
      color: white;
      border: 1px solid #2e6ab1; }
    .digg_pagination a {
      text-decoration: none;
      color: #105cb6;
      border: 1px solid #9aafe5; }
      .digg_pagination a:hover, .digg_pagination a:focus {
        color: #000033;
        border-color: #000033; }
    .digg_pagination .page_info {
      background: #2e6ab1;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; }
      .digg_pagination .page_info b {
        color: #000033;
        background: #6aa6ed;
        padding: 0.1em 0.25em; }
    .digg_pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .digg_pagination {
      height: 1%; }
    *:first-child + html .digg_pagination {
      overflow: hidden; }

@media (max-width: 600px){
    .greet{
        font-size: 10px;
    }
    .container h1{
        font-size: 20px;
    }
}